* {
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
margin: 0; padding: 0;
}

body {
background: #333;
}

canvas {
margin: auto;
top: 0;
left: 0;
right: 0;
bottom: 0;
position: absolute;
border: 5px solid #000;
background: #5375e0;
}

.kalkulacje {
display: none;
top: 100px;
left: 100px;
border-collapse: collapse;
position: absolute;
}

.kalkulacje td {
border: 1px solid black;
padding: 5px;
}
